.features {
  padding: 50px 0 44px;

  @media ($not-mobile) {
    padding: 60px 0 90px;
  }

  @media ($desktop-only) {
    padding: 100px 0;
  }
}

.features__subtitle {
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  text-align: center;
}

.features__title {
  margin: 0;
  font-weight: 700;
  text-align: center;

  @media ($not-mobile) {
    margin-bottom: 50px;
  }

  @media ($desktop-only) {
    margin-bottom: 60px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: minmax(auto, 280px);
  justify-content: center;
  margin: 0 auto;

  @media ($not-mobile) {
    grid-template-columns: repeat(2, 339px);
    gap: 30px;
    max-width: 728px;
  }

  @media ($desktop-only) {
    grid-template-columns: repeat(4, 318px);
    max-width: 1360px;
  }
}

.features__item {
  padding: 16px 0;
  text-align: center;

  @media ($tablet-only) {
    padding: 10px 0;
    text-align: left;
  }

  @media ($desktop-only) {
    padding: 20px 0;
  }

  &--speed {
    --features-icon: url("../../icons/stack.svg#timer");
  }

  &--comfort {
    --features-icon: url("../../icons/stack.svg#shield");
  }

  &--vigor {
    --features-icon: url("../../icons/stack.svg#lightning");
  }

  &--ecology {
    --features-icon: url("../../icons/stack.svg#leaf");
  }
}

.features__item-wrapper {
  --features-icon-m: 0 auto 10px;

  @media ($tablet-only) {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    --features-icon-row: 1 / 3;
    --features-icon-m: 4px 0 0;
  }

  @media ($desktop-only) {
    --features-icon-m: 0 auto 20px;
  }

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 56px;
    margin: var(--features-icon-m);
    background-image: var(--features-icon);
    grid-row: var(--features-icon-row);
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 4px;

  @media ($not-mobile) {
    margin-bottom: 10px;
  }
}

.features__item-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media ($not-mobile) {
    font-size: 16px;
    line-height: 24px;
  }
}
