.footer__container {
  @media ($mobile-only) {
    padding: 0;
  }

  @media ($not-mobile) {
    width: 768px;
    margin: 0 auto;
  }

  @media ($desktop-only) {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    padding-top: 40px;
  }
}

.footer__head {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 22px 20px;

  @media ($not-mobile) {
    padding: 42px 0 16px;
  }

  @media ($desktop-only) {
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;
    max-width: 318px;
    width: 100%;
    padding: 0 0 10px;
    margin-right: 30px;
  }
}

.footer__logo {
  width: 82px;
  height: 36px;

  @media ($not-mobile) {
    width: 170px;
    height: 36px;
  }
}

.footer__caption {
  display: none;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 40px;

  @media ($desktop-only) {
    display: block;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media ($not-mobile) {
    flex-flow: row wrap;
    align-items: stretch;
    column-gap: 30px;

    @media ($desktop-only) {
      width: 1012px;
    }
  }
}

.footer__nav-column {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid $color-secondry;

  @media ($not-mobile) {
    max-width: 222px;
    padding: 16px 0 15px;
    border-bottom: 0;
  }

  @media ($desktop-only) {
    max-width: 317px;
    padding: 9px 0 10px;
  }

  &:first-child {
    border-top: 1px solid $color-secondry;

    @media ($not-mobile) {
      border-top: 0;
    }
  }

  &--contacts {
    .footer__nav-list {
      gap: 16px;
    }

    .footer__column-title {
      margin-bottom: 20px;
    }

    .footer__nav-link {
      display: flex;
      column-gap: 6px;
      padding: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      text-transform: capitalize;
    }

    .footer__nav-link--address {
      --footer__nav-icon: url("../../icons/stack.svg#gps-point");
    }

    .footer__nav-link--tel {
      --footer__nav-icon: url("../../icons/stack.svg#phone");
    }

    .footer__nav-link::before {
      content: "";
      flex-shrink: 0;
      width: 13px;
      height: 16px;
      margin-top: 2px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: var(--footer__nav-icon);
    }
  }
}

.footer__column-title {
  margin: 0;
  margin-bottom: 12px;
  width: 100%;

  @media ($mobile-only) {
    max-width: 280px;
  }
}

.footer__nav-list {
  display: grid;
  max-width: 280px;
  gap: 4px;

  @media ($not-mobile) {
    max-width: 100%;
  }
}

.footer__nav-link {
  display: block;
  padding: 8px 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02;
  text-transform: uppercase;
  color: $color-black;
}
